.page-header {
    padding-bottom: 2px;
    margin:10px -10px 5px -3PX;
    /*margin: 10px 0 6px;*/
    /*border-bottom: 1px solid #10486b;*/
}
.headingCaption {
    color: rgb(0,51,102);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 27px;
    vertical-align: middle;
    background-size: 101%;
    background-color: rgba(192, 192, 192, 0.55);/*#f7d0a9; /*background-color: rgba(192, 192, 192, 0.55);*/ /*#e2e2e2;*/ /*font-weight: bold;
    padding-top: 2px;*/
    padding-bottom: 2px;
    padding-left: 5px;
    border-color: #ccc;
    border-style: solid;
    border-width: 0px;
    border-radius: 0px;
    border-left-color: #10486B;
    border-left-width: 3px; /*border-bottom:thin;*/ /*border-bottom-style:none;*/
    padding-top: 4px;
    margin-right: -100px;
    margin-left: 7px;
    font-weight: 600;
}