<!-- Message Maintenance Modal -->
<div class="popup-overlay" style="background: rgba(0,0,0,0.5); 
            position: fixed; 
            top:0; left:0; 
            width:100%; height:100%;
            display:flex; 
            justify-content:center; 
            align-items:flex-start;   
            padding-top: 100px;       
            z-index:1000;">
  <div class="modal-dialog modal-lg" style="max-width:500px; border-radius:10px; overflow:hidden; box-shadow:0 10px 30px rgba(0,0,0,0.3);">
    <div class="modal-content" style="font-size:14px; border:none; border-radius:10px; overflow:hidden;">

      <!-- Header -->
      <div class="page-header headingCaption_ mb-0 p-3" style="background: linear-gradient(90deg, #10486b, #10486b); color:white; font-size:16px; font-weight:bold; text-align:center;">
        <i class="bi bi-exclamation-triangle-fill" style="margin-right:8px;"></i> Password Change Alert
      </div>

      <!-- Body -->
    <div class="modal-body p-2" style="background:#fff; color:#333;">

  <div style="display:flex; align-items:center; gap:10px;">

    <!-- ICON LEFT -->
    <i class="bi bi-shield-exclamation" style="margin-left: 25px; font-size:30px; color:#f44336; transform:  translateY(-4px);"></i>

    <!-- TEXT RIGHT -->
    <p style="font-weight:bold; font-size:16px; color:#aa1906; margin:0;">
      {{ lbl_alert }}
    </p>

  </div>

</div>

      <!-- Buttons -->
      <div class="modal-footer justify-content-center py-3" style="background:#f9f9f9;">
        <button class="newbtn" (click)="onOkClick()" 
                style="margin-right:15px;">
          <i class="bi bi-check-circle"></i> Yes
        </button>

        <button *ngIf="showNo" class="newbtn" (click)="onNoClick()" 
         >
                
          <i class="bi bi-x-circle"></i> No
        </button>
      </div>

    </div>
  </div>
</div>