


 body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}
.lang-btn {
  background-color: #10486b;
  color: white;
  border: none;
  padding: 8px 14px;
  margin-right: 8px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.lang-btn:hover {
  background-color: #0a3d62;
}

.save-btn {
  background-color: #097ef7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-btn:hover {
  background-color: #075bb5;
}

h1 {
  color: #10486b;
  font-family: Calibri, sans-serif;
  font-weight: 700;
}

p {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  color: #333;
}
    

/* .loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


.loader {
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 40px;
}

.loader .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(224, 134, 45); 
    animation: pulse 1.2s infinite ease-in-out;
}

.loader .dot:nth-child(1) {
    animation-delay: 0s;
}

.loader .dot:nth-child(2) {
    animation-delay: 0.2s;
}

.loader .dot:nth-child(3) {
    animation-delay: 0.4s;
}


@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 0.6;
    }
    50% {
        transform: scale(1.5);
        opacity: 1;
    }
} */

body.loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    filter: blur(5px);
    z-index: 9998; 
} 
