<style>
    /* For red rows */
    .row-red {
        background-color: red;
        color: white;
        /* Optional: Font color for better contrast */
    }

    /* For white rows */
    .row-white {
        background-color: white;
        color: black;
        /* Optional: Font color for better contrast */
    }

    .text-primary:hover {
        color: darkblue !important;
    }

    .custom-cross {
        width: 12px;
        height: 30;
        display: inline-block;
    }



    .headingCaption .main-heading {
        position: absolute;
        left: 5px;
        /* Move to the left side */
        color: #10486b;
    }

    .headingCaption .separator {
        margin: 0 125px;
        font-size: 18px;
        color: #666;
    }

    .headingCaption .sub-heading {
        color: #10486b;
    }

    .txtPinPot {
        border-radius: 0px;
        flex: 1;
        height: 20px;
        font-size: 12px;
    }
</style>
<div class="container">
    <div class="row line-w" style="margin-left: -4px; align-items: center;">
        <div class="col-lg-12 col-sm-12 d-flex align-items-center">
            <div class="form-group mb-0" style="display: flex; align-items: center;">
                <label class="labelcss" style="margin-right: 5px;">Enter Mobile No:</label>
                <input id="txt_Mobile" class="form-controlA" name="txt_Mobile" [(ngModel)]="selectedMobile"
                    style="border-radius: 0px; width: 250px;" maxlength="50" />
            </div>
            <div style="width: 50px;"></div>
            <button id="btn_Submit" class="newbtn" (click)="Fetch()">
                <i class="bi bi-check-circle"></i> Fetch
            </button>
            <button id="btn_Reset" class="newbtn" style="margin-left: 5px;" (click)="ResetButton()">
                <i class="bi bi-arrow-clockwise"></i> Reset
            </button>
        </div>
    </div>
    <div *ngIf="showSuccessPopup">
        <div [ngClass]="{
          'error-message': isErrorPopup,
          'Success-message': !isErrorPopup
        }">
            <i *ngIf="isErrorPopup" style="font-size: 20px;" class="bi bi-exclamation-triangle-fill "></i>
            <i *ngIf="!isErrorPopup" style="font-size: 20px;" class="bi bi-check2-circle" alt="Success"></i>
            <span>{{ popupMessage }}</span>
            <span>{{ errmessage }}</span>
        </div>
    </div>
    <div style="margin-top: 5px;">

    </div>
    <div class="page-header headingCaption">
        <span class="main-heading" style="margin-left: 35px;">MNP PIN / POT Information</span>
        <span class="" style="margin-left: 662px;"></span>
        <span class=" headingCaptionA page-header"> BS Customer Information</span>
    </div>


    <div style="margin-top: 15px;">

    </div>
    <!-- ROW 1 -->
    <div class="row line-w" style="margin-left: -4px;">

        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Register Name :</label>
            <input ID="txt_MRegister" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINRegName"
                name="txt_MRegister" MaxLength="50" style="flex:1;">
        </div>

        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">User Name :</label>
            <input ID="txt_MUsername" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINUserName"
                name="txt_MUsername" MaxLength="50" style="flex:1;">
        </div>

        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Register Name :</label>
            <input ID="txt_BRegister" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedBSRegName"
                name="txt_BRegister" MaxLength="50" style="flex:1;">
        </div>

        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">User Name :</label>
            <input ID="txt_BUsername" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedBSUserName"
                name="txt_BUsername" MaxLength="50" style="flex:1;">
        </div>

    </div>


    <!-- ROW 2 -->
    <!-- <div class="row line-w" style="margin-left: -4px;">

        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">NIC :</label>
            <input ID="txt_MNIC" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINNic" name="txt_MNIC"
                MaxLength="50" style="flex:1;">
        </div>

        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Passport :</label>
            <input ID="txt_MPassport" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINPassport"
                name="txt_MPassport" MaxLength="50" style="flex:1;">
        </div>

        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Other ID :</label>
            <input ID="txt_MOtherID" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINOtherID"
                name="txt_MOtherID" MaxLength="50" style="flex:1;">
        </div>

        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">NIC :</label>
            <input ID="txt_BNIC" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedBSNic" name="txt_BNIC"
                MaxLength="50" style="flex:1;">
        </div>

    </div> -->
    <div style="margin-top: 6px;"></div>
    <div class="row line-w" style="margin-left: -4px;">
        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">CNIC : </label>
            <input ID="txt_MCNIC" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINCnic"
                name="txt_MCNIC" MaxLength="50">
        </div>

        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">NIC :</label>
            <input ID="txt_MNIC" disabled class="form-controlA txtPinPot" name="txt_MNIC" [(ngModel)]="selectedPINNic"
                MaxLength="50">
        </div>

        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">CNIC :</label>
            <input ID="txt_BCNIC" disabled class="form-controlA txtPinPot" name="txt_BCNIC" [(ngModel)]="selectedBSCnic"
                style="border-radius: 0px;" MaxLength="50">
        </div>

        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">NIC :</label>
            <input ID="txt_BNIC" disabled class="form-controlA txtPinPot" name="txt_BNIC" [(ngModel)]="selectedBSNic"
                MaxLength="50">
        </div>
    </div>

    <div style="margin-top: 6px;">

    </div>
    <div class="row line-w" style="margin-left: -4px;">
        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Passport :</label>
            <input ID="txt_MPassport" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINPassport"
                name="txt_MPassport" MaxLength="50">
        </div>

        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Other ID :</label>
            <input ID="txt_MOtherID" disabled class="form-controlA txtPinPot" name="txt_MOtherID"
                [(ngModel)]="selectedPINOtherID" MaxLength="50">
        </div>

        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Passport :</label>
            <input ID="txt_BPassport" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedBSPassport"
                name="txt_BPassport" MaxLength="50">
        </div>

        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Other ID :</label>
            <input ID="txt_BOtherID" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedBSOtherID"
                name="txt_BOtherID" MaxLength="50">
        </div>
    </div>

    <div style="margin-top: 6px;">

    </div>
    <!-- ✅ Row 1 -->
    <div class="row line-w" style="margin-left: -4px;">
        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">ICCID / IMSI :</label>
            <input ID="txt_MICCID" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINICCID"
                name="txt_MICCID" MaxLength="50">
        </div>

        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Account Type :</label>
            <input ID="txt_MAccountType" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINAccTyp"
                name="txt_MAccountType" MaxLength="50">
        </div>
        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Account Type :</label>
            <input ID="txt_BAccountType" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedBSAccTyp"
                name="txt_BAccountType" MaxLength="50">
        </div>

        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Tariff Plan :</label>
            <input ID="txt_BTariff" disabled class="form-controlA txtPinPot" name="txt_BTariff"
                [(ngModel)]="selectedBSTarifPln" MaxLength="50">
        </div>
    </div>
    <div style="margin-top: 6px;">

    </div>

    <!-- ✅ Row 2 -->
    <div class="row line-w" style="margin-left: -4px;">
        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Tariff Plan :</label>
            <input ID="txt_MTariff" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINTarifPln"
                name="txt_MTariff" MaxLength="50">
        </div>
        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Access Level :</label>
            <input ID="txt_MAccessLevel" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINAccLvl"
                name="txt_MAccessLevel" style="border-radius:0;flex:1;" MaxLength="50">
        </div>

        <div class="col-lg-3 col-sm-3" style="display: flex; align-items: center; gap: 6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Access Level :</label>
            <input ID="txt_BAccessLevel" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedBSAccLvl"
                name="txt_BAccessLevel" MaxLength="50">
        </div>

        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Service Status :</label>
            <input ID="txt_BServiceStatus" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedBSServiceSts"
                name="txt_BServiceStatus" style="border-radius:0;flex:1;" MaxLength="50">
        </div>
    </div>
    <div style="margin-top: 6px;">

    </div>


    <!-- ✅ Row 3 -->
    <div class="row line-w" style="margin-left: -4px;">
        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Security Deposit :</label>
            <input ID="txt_MSecurityDeposit" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINSecDep"
                name="txt_MSecurityDeposit" style="border-radius:0;flex:1;" MaxLength="50">
        </div>

        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Line Rent :</label>
            <input ID="txt_MLineRent" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINLineRt"
                name="txt_MLineRent" style="border-radius:0;flex:1;" MaxLength="50">
        </div>
        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Line Rent :</label>
            <input ID="txt_BLineRent" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedBSLineRt"
                name="txt_BLineRent" style="border-radius:0;flex:1;" MaxLength="50">
        </div>


        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Security Deposit :</label>
            <input ID="txt_BSecurityDeposit" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedBSSecDep"
                name="txt_BSecurityDeposit" style="border-radius:0;flex:1;" MaxLength="50">
        </div>
    </div>
    <div style="margin-top: 6px;">

    </div>


    <!-- ✅ Row 4 -->
    <div class="row line-w" style="margin-left: -4px;">
        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Refund Amount :</label>
            <input ID="txt_MRefAmt" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINRefundAmt"
                name="txt_MRefAmt" style="border-radius:0;flex:1;" MaxLength="50">
        </div>

        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Refund Date :</label>
            <input ID="txt_MRefDt" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINRefundDt"
                name="txt_MRefDt" style="border-radius:0;flex:1;" MaxLength="50">
        </div>


        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Bar Template :</label>
            <input ID="txt_BBarTemp" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedBSBarTemp"
                name="txt_BBarTemp" style="border-radius:0;flex:1;" MaxLength="50">
        </div>

        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Pass Due :</label>
            <input ID="txt_BPassDue" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedBSPassDue"
                name="txt_BPassDue" style="border-radius:0;flex:1;" MaxLength="50">
        </div>
    </div>
    <div style="margin-top: 6px;">

    </div>

    <div class="row line-w" style="margin-left: -4px;">
        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">User ID :</label>
            <input ID="txt_MUserID" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINUserID"
                name="txt_MUserID" style="border-radius:0;flex:1;" MaxLength="50">
        </div>
        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">User Name :</label>
            <input ID="txt_MUserNam" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINUsername"
                name="txt_MUserNam" style="border-radius:0;flex:1;" MaxLength="50">
        </div>
        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Current Billing :</label>
            <input ID="txt_BCurrentBill" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedBSCurrBilling"
                name="txt_BCurrentBill" style="border-radius:0;flex:1;" MaxLength="50">
        </div>
        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Unbilled :</label>
            <input ID="txt_BUnbilled" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedBSUnbill"
                name="txt_BUnbilled" style="border-radius:0;flex:1;" MaxLength="50">
        </div>
    </div>
    <div style="margin-top: 6px;">

    </div>
    <div class="row line-w" style="margin-left: -4px;">
        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">NPR Initiator :</label>
            <input ID="txt_MNPRInitiator" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINNPRInt"
                name="txt_MNPRInitiator" style="border-radius:0;flex:1;" MaxLength="50">
        </div>

        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">NPR Date :</label>
            <input ID="txt_MNPRGenrtDt" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINNPRGenDt"
                name="txt_MNPRGenrtDt" style="border-radius:0;flex:1;" MaxLength="50">
        </div>
        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Total Due :</label>
            <input ID="txt_BTotalDue" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedBSTotalDue"
                name="txt_BTotalDue" style="border-radius:0;flex:1;" MaxLength="50">
        </div>

        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Credit Limit :</label>
            <input ID="txt_BCreditLimit" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedBSCreditLmt"
                name="txt_BCreditLimit" style="border-radius:0;flex:1;" MaxLength="50">
        </div>
    </div>
    <div style="margin-top: 6px;">

    </div>
    <div class="row line-w" style="margin-left: -4px;">
        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Current Status :</label>
            <input ID="txt_MCurrSts" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINCurrSts"
                name="txt_MCurrSts" style="border-radius:0;flex:1;" MaxLength="50">
        </div>

        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Message Timestamp :</label>
            <input ID="txt_MMsgTime" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINMsgTime"
                name="txt_MMsgTime" style="border-radius:0;flex:1;" MaxLength="50">
        </div>
        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Usage :</label>
            <input ID="txt_BUsage" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedBSUsage"
                name="txt_BUsage" style="border-radius:0;flex:1;" MaxLength="50">
        </div>

        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">ICCID#/IMSI :</label>
            <input ID="txt_BICCID" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedBSICCID"
                name="txt_BICCID" style="border-radius:0;flex:1;" MaxLength="50">
        </div>
    </div>
    <div style="margin-top: 6px;">

    </div>
    <div class="row line-w" style="margin-left: -4px;">
        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Assign To :</label>
            <input ID="txt_MAssignTo" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINAssignTo"
                name="txt_MAssignTo" style="border-radius:0;flex:1;" MaxLength="50">
        </div>

        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Due Date :</label>
            <input ID="txt_MDueDt" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINDueDt"
                name="txt_MDueDt" style="border-radius:0;flex:1;" MaxLength="50">
        </div>
        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px;">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">SIM Status :</label>
            <input ID="txt_BSIMStatus" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedBSSimSts"
                name="txt_BSIMStatus" style="border-radius:0;flex:1;" MaxLength="50">
        </div>

    </div>
    <div style="margin-top: 6px;">

    </div>
    <div class="row line-w" style="margin-left: 695px;">
        <div class="col-lg-6 col-sm-6" style="display:flex;align-items:center;gap:6px; ">
            <label class="labelcss" style="white-space: nowrap; margin: 0;width: 120px; ">Vas :</label>
            <textarea id="txt_BLineRent" disabled [(ngModel)]="selectedBSVas" name="txt_BLineRent"
                class="form-controlA " rows="1" maxlength="50"
                style="border-radius:0;flex:1; font-size: 12px;"></textarea>
        </div>
    </div>
    <div style="margin-top: 5px;">

    </div>
    <div class="page-header headingCaption">
        Activity Information
    </div>
    <br>
    <div class="row line-w" style="margin-left: -4px;">
        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px; ">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Last Activity# :</label>
            <input ID="txt_MLstAct" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINLstAct"
                name="txt_MLstAct" style="border-radius: 0px;" MaxLength="50">

        </div>
        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px; ">

            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Port ID :</label>
            <input ID="txt_MPortID" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINPortID"
                name="txt_MPortID" style="border-radius: 0px;" MaxLength="50">

        </div>
        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px; ">

            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Donor :</label>
            <input ID="txt_MDonor" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINDonor"
                name="txt_MDonor" style="border-radius: 0px;" MaxLength="50">

        </div>
        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px; ">

            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Recipient :</label>
            <input ID="txt_MRecipient" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINRecipient"
                name="txt_MRecipient" style="border-radius: 0px;" MaxLength="50">

        </div>

    </div>
    <div style="margin-top: 6px;">

    </div>
    <div class="row line-w" style="margin-left: -4px;">

        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px; ">

            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Job Done By :</label>
            <input ID="txt_MJobDnBy" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINJobDoneBy"
                name="txt_MJobDnBy" style="border-radius: 0px;" MaxLength="50">
        </div>

        <div class="col-lg-3 col-sm-3" style="display:flex;align-items:center;gap:6px; ">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Last Date :</label>
            <input ID="txt_ALstDt" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINLstDt"
                name="txt_ALstDt" style="border-radius: 0px;" MaxLength="50">
        </div>
        <div class="col-lg-6 col-sm-6" style="display:flex;align-items:center;gap:6px; ">

            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Description :</label>
            <input ID="txt_MDescription" disabled class="form-controlA txtPinPot" [(ngModel)]="selectedPINDesc"
                name="txt_MDescription" style="border-radius: 0px;" MaxLength="50">

        </div>

    </div>
    <div style="margin-top: 6px;">

    </div>
    <div class="row line-w" style="margin-left: -4px;">
        <div class="col-lg-12 col-sm-12" style="display:flex;align-items:center;gap:6px; ">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Rejection Description:</label>
            <textarea id="txt_BLineRent" disabled [(ngModel)]="selectedPINRejDesc" name="txt_BLineRent"
                class="form-controlA " rows="1" maxlength="50"
                style="border-radius:0;flex:1;font-size: 12px; "></textarea>
        </div>
    </div>

    <div style="margin-top: 5px;"></div>
    <div class="page-header headingCaption">
        NP Activited Status
    </div>

    <div style="margin-top: 15px;"></div>
    <div class="row line-w" style="margin-left: -4px;">
        <div class="col-lg-12 col-sm-12" style="display:flex;align-items:center;gap:6px; ">
            <label class="labelcss" style="white-space: nowrap; margin: 0; width: 120px;">Comment2 :</label>
            <textarea id="txt_BLineRent" disabled [(ngModel)]="selectedPINRejDesc" name="txt_BLineRent"
                class="form-controlA " rows="1" maxlength="50"
                style="border-radius:0;flex:1;font-size: 12px; "></textarea>
        </div>
    </div>
    <div class="row line-w" style="margin-left: -4px;">
        <br>
        <br>
    </div>
</div>