/* Overlay background */
.center-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.center-popup-box {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 35%;
    height: 80%;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}
.fnt {
    font-family: 'Calibri';
    border-radius: 0px;
    width: 100%;
}
.popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.tdRightBold {
    font-family: 'Calibri';
}
.xml-box {
    background-color: #f9f9f9;
    padding: 10px;
    white-space: pre-wrap;
    font-family: monospace;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.xml-link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}
.xml-box {
    background-color: #f9f9f9;
    padding: 10px;
    white-space: pre-wrap;
    font-family: monospace;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
}
.fntC {
    font-size: 11px;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 97%;
    }
}
.row {
    margin-right: -29px;
}
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 35px;
    padding-right: 15px;
}
@media (min-width:1200px) {
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
        margin-left: -20px;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #222222;
    border-radius: 4px;
}
.breadcrumb>li {
    display: inline-block;
}
.breadcrumb>li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ffffff;
}
.breadcrumb>.active {
    color: #888888;
}
.page-item.active .page-link {
    background-color: #10486b;
    border-color: #10486b;
    color: white;
    font-weight: bold;
}
.page-link {
    color: #0f3f5d;
    border-radius: 4px;
    margin: 0 2px;
    transition: all 0.2s ease;
}
.page-link:hover {
    background-color: #f2f2f2;
    text-decoration: none;
}

.pager {
    padding-left: 0;
    margin: 20px 0;
    list-style: none;
    text-align: center;
}