.pagination button {
  margin: 3px;
  padding: 6px 10px;
  border: 1px solid #aaa;
  background: white;
  cursor: pointer;
}

  .pagination button.active {
    background: #007bff;
    color: white;
    font-weight: bold;
  }

  .pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
