  .form-label {
    font-size: 14px;
    text-align: left;
    padding-right: 10px;
    padding-bottom: 8px;
    width: 250px;
    font-family: Calibri;
    color: #10486b;
    padding-top: 12px;
    white-space: nowrap;
    margin: -4px;
  }

  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
  }

  @media (max-width: 768px) {
    .form-group {
      flex-direction: column;
      align-items: flex-start;
    }

    .form-label {
      text-align: left;
      width: 100%;
      padding-top: 0;
      padding-bottom: 8px;
      white-space: nowrap;
      margin: 2;
      font-size: 14px;
      font-family: Calibri;
      color: #10486b;
    }
  }

  .scrollable-form {
    max-height: 80vh;
    width: 108%;
    /* overflow-x: hidden; */
    padding: 15px;
    margin: 0 5px;
  }

  .scrollable-form::-webkit-scrollbar {
    width: 8px;
  }

  .form-card {
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }

  .section-title {
    color: #10486b;
    padding: 8px 10px;
    font-weight: bold;
    border-radius: 4px;
    margin-bottom: 10px;
  }