.lov-container {
  position: relative;
  width: 100%;
}

.lov-input {
  width: 100%;
  padding: 6px;
  color: rgb(80, 80, 80);
  font-size: 14px;  
  border: 1px solid #b9c7d4;
  font-family: Calibri, sans-serif; /* changed */
  border-radius: 0px;  
  outline: none; 
  height: 25px;
}

.lov-inputM {
  width: 100%;
  padding: 10px;
  color: rgb(80, 80, 80);
  font-size: 14px;  
  border: 1px solid #b9c7d4;
  font-family: Calibri, sans-serif; /* changed */
  border-radius: 0px;
  border-left: 2px solid red; 
  outline: none;
  height: 25px;
}



.lov-dropdown {
  position: absolute;
  width: 100%;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  background: #f3eeeef3;
  border: 1px solid #10486b;  
  border-radius: 3px;
  z-index: 1000;
  margin-top: 1px;
  box-shadow: 0 2px 6px rgba(24, 24, 24, 0.15);
}


.lov-option {
  padding: 3px 6px; /* Reduced from 6px 8px to 3px 6px */
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  line-height: 1.2; /* Slightly reduced line height */
}

.lov-option:hover:not(.lov-option-active) {
  background: #10486b !important;
  color: #ffffff !important;
}

.lov-option-active {
  background-color: #1a3b64 !important;
  color: #ffffff !important;
  font-weight: bold;
}

.lov-search {
  width: 96%;
  margin: 4px 2%;
  padding: 5px;
  border: 1px solid #10486b;
  font-size: 15px;
  border-radius: 3px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  flex-shrink: 0;
}
.lov-search:focus {
  outline: none;
  border-color: #10486b;
  box-shadow: 2px #10486b;
}

.lov-input:disabled {
  background-color: #eee;
  cursor: not-allowed;
}

.lov-input-wrapper {
  position: relative;
  width: 100%;
  cursor: pointer;
}
.lov-inputM:disabled {
  background-color: #eee;
  cursor: not-allowed;
}

.lov-arrow {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  pointer-events: none;
  color: #4a5568;
}

.lov-items {
  max-height: 200px;
  overflow-y: auto;
}

/* Scrollbar Styling */
.lov-items::-webkit-scrollbar {
  width: 8px;
}

.lov-items::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.lov-items::-webkit-scrollbar-thumb {
  background: #10486b;
  border-radius: 4px;
}

.lov-items::-webkit-scrollbar-thumb:hover {
  background: #0d3a5a;
}

/* For Firefox */
.lov-items {
  scrollbar-width: auto;
  scrollbar-color: #10486b #f1f1f1;
}
